<div class="grid-container">
  <h1 class="text-center">PRIME GRID SYSTEM</h1>
  <h3>Három egyforma box minden felbontáson azonos méret + egy kis padding</h3>
  <div class="grid">
    <div class="col-4">
      <div class="border-1 p-3">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi deserunt ipsa omnis ipsum quas sit nam rerum fugiat magni
        aliquam nobis cumque adipisci similique at eius atque illo eligendi, praesentium quasi minima esse obcaecati autem nostrum
        debitis! Magnam neque aliquid velit harum tempore, quas officiis fugit, unde voluptates vitae quaerat, vero esse libero
        doloribus obcaecati quod enim nihil ratione. Perspiciatis minus ipsa nobis sed voluptates nihil praesentium officiis
        debitis! Optio illum maxime velit iure a quis laudantium est aperiam doloremque consequatur vero unde praesentium ut
        expedita, odio blanditiis voluptates, hic dignissimos quia reprehenderit impedit temporibus sit, consequuntur repellat.
        Distinctio, quas?
      </div>
    </div>
    <div class="col-4">
      <div class="border-1 p-3">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi deserunt ipsa omnis ipsum quas sit nam rerum fugiat magni
        aliquam nobis cumque adipisci similique at eius atque illo eligendi, praesentium quasi minima esse obcaecati autem nostrum
        debitis! Magnam neque aliquid velit harum tempore, quas officiis fugit, unde voluptates vitae quaerat, vero esse libero
        doloribus obcaecati quod enim nihil ratione. Perspiciatis minus ipsa nobis sed voluptates nihil praesentium officiis
        debitis! Optio illum maxime velit iure a quis laudantium est aperiam doloremque consequatur vero unde praesentium ut
        expedita, odio blanditiis voluptates, hic dignissimos quia reprehenderit impedit temporibus sit, consequuntur repellat.
        Distinctio, quas?
      </div>
    </div>
    <div class="col-4">
      <div class="border-1 p-3">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi deserunt ipsa omnis ipsum quas sit nam rerum fugiat magni
        aliquam nobis cumque adipisci similique at eius atque illo eligendi, praesentium quasi minima esse obcaecati autem nostrum
        debitis! Magnam neque aliquid velit harum tempore, quas officiis fugit, unde voluptates vitae quaerat, vero esse libero
        doloribus obcaecati quod enim nihil ratione. Perspiciatis minus ipsa nobis sed voluptates nihil praesentium officiis
        debitis! Optio illum maxime velit iure a quis laudantium est aperiam doloremque consequatur vero unde praesentium ut
        expedita, odio blanditiis voluptates, hic dignissimos quia reprehenderit impedit temporibus sit, consequuntur repellat.
        Distinctio, quas?
      </div>
    </div>
  </div>

  <h3 class="text-center mt-5">Nagy képernyőn col-8, mobilmódban teljes helyfoglalás</h3>
  <div class="grid">
    <div class="col-12 col-offset-0 md:col-8 md:col-offset-2">
      <div class="border-1 p-5 flex justify-content-center align-items-center flex-column">
        <div class="p-float-label w-full mb-5">
          <input pInputText id="name" class="w-full" />
          <label htmlFor="username">Név</label>
        </div>

        <div class="p-float-label w-full mb-5">
          <input pInputText id="email" class="w-full" type="email" />
          <label htmlFor="email">E-mail</label>
        </div>

        <p-button label="Küldés" styleClass="p-button-raised p-button-sm"></p-button>
      </div>
    </div>
  </div>
</div>
